:root {
  --fontFam: 'Outfit', sans-serif;
  --fontWeightRegular: 400;
  --fontWeightBold: 700;
}

body {
  margin: 0;
  font-family: 'Outfit', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeChartItem {
  background: rgb(255, 255, 255, 0.534);
  padding: 0rem .2rem .5rem .2rem;
  border-radius: 1.5rem 1.5rem .5rem .5rem;
}

.topGamesContainer {
  background-color: gray;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: 6rem;
  padding: .5rem;
  background: white;
  border-radius: .5rem;
  pointer-events: none;
  z-index: 1;
}

.toolDate, .toolInfo, .toolTitle, .higher, .lower {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.toolDate {
  font-size: .7rem;
  font-family: var(--fontFam);
  font-weight: var(--fontWeightRegular);
}

.toolTitle {
  font-size: .9rem;
  font-weight: var(--fontWeightRegular);
  border-bottom: .1rem solid black;
  margin-bottom: .2rem;
}

.toolInfo {
  display: inline-block;
  font-weight: var(--fontWeightBold);
  color: white;
  padding: 0rem .2rem .1rem .2rem;
  border-radius: .2rem;
}

.higher, .lower {
  font-size: .9rem;
  font-weight: var(--fontWeightBold);
}

.higher {
  color: #005700;
}

.lower {
  color: #9E0000;
}

/* Aspect Ratio 2:1 - Original Width: 30rem, Original Height: 15rem*/
.areaChart {
  height: 9rem !important;
}

.tipArea {
  transition: .25s ease;
  opacity: 0%;
}

.tipArea:hover {
  opacity: 20%;
}